ion-card{
    background-color:#dddddd;
    color: #333;
    border-radius: 20px;
}
ion-card-title{
    color: #333;
    font-size: 32px;
    font-weight: 800;
}
.busca{
    display: flex;
}
.busca button{
    padding: 5px;
    font-size: 30px;
    font-weight: 800;
}